.App {
  text-align: center;
  background-color: antiquewhite;
  min-height: 100vh;
}

.GoldMedal{
  background-color: goldenrod;
  margin: 0 auto;
  height: 50px;
  width: 50px;
  font-size: 150%;
  color:black;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.SilverMedal{
  background-color: silver;
  margin: 0 auto;
  height: 50px;
  width: 50px;
  font-size: 150%;
  color:black;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.BronzeMedal{
  background-color: #CD7F32;
  margin: 0 auto;
  height: 50px;
  width: 50px;
  font-size: 150%;
  color:black;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.Country-items{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.CountryName {
  font-weight: bolder;
  font-size: 56px;
}

.MedalNumber {
  font-size: 16px;
}

.Button {
  padding: 10px;

}

.App-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  font-family: 'Luckiest Guy', cursive;
}

.fab {
    margin: 0px;
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed;
}

.delete:hover {
  cursor: pointer;
}

.delete {
  float: right;
}